.ResetButton {
  background-color: #552583;
  border-color: #552583;
}
.ResetButton:hover {
  background-color: #6a4091;
  border-color: #6a4091;
}
.ResetBig {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
.Passwordstyle1:focus {
  border-color: rgb(43, 42, 42);
  background-color: rgb(43, 42, 42);
}
.UserNamestyle1 {
  border-color: rgb(43, 42, 42);
  width: 37%;
  height: 4;
  background-color: rgb(43, 42, 42);
}
.Passwordstyle1 {
  border-color: rgb(43, 42, 42);
  width: 37%;
  height: 4;
  background-color: rgb(43, 42, 42);
}
.UserNamestyle1:focus {
  border-color: rgb(43, 42, 42);
  background-color: rgb(43, 42, 42);
}
.custom-checkbox1 {
  display: none;
}

.checkbox-label1 {
  display: inline-block;
  position: relative;
  padding-left: 30px; 
  cursor: pointer;
}

.checkbox-label1::before {
  content: "";
  display: inline-block;
  width: 20px; 
  height: 20px; 
  border: 2px solid #000;
  border-radius: 4px; 
  background-color: #ffffff; 
  position: absolute;
  left: 0;
  top: 0;
}

.custom-checkbox1:checked + .checkbox-label1::before {
  background-color: #552583; 
}

.checkbox-label1::after {
  content: "";
  display: none;
  position: absolute;
  left: 7px; 
  top: 3px; 
  width: 5px; 
  height: 10px; 
  border: solid #ffffff; 
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox1:checked + .checkbox-label1::after {
  display: block;
}
